<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="profile">
        Back
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="thumb1">
    <ion-icon name="radio-button-off-outline"></ion-icon>
  </div>
  <div class="thumb">
      <img src="assets/imgs/key-outline.svg" alt="">
   </div>
  
  <div class="textItem">
    <ion-item lines="none" class="infoHeader">
      <ion-label class="header" color="dark">Reset Pasword</ion-label>
    </ion-item>
    <div style="font-size: 14px; color:gray; text-align: center;">
      Enter your new password below, we're
      <br/>
    </div>
    <div style="font-size: 14px; color:gray; text-align: center;">
      just being extra safe
      <br/>
   </div>
  </div>
  

 <form [formGroup]="resetForm">
  <ion-list lines="full" class="paddingList">
    <div style="margin-left: 25% !important;">
      <ion-label class="label">New password</ion-label>
    </div>
    <div>
      <ion-input  formControlName="password"  #toggleInput   type="password" class="form-control password" placeholder="Enter new password"></ion-input>
      <button class="showhidePass" type="button" clear item-end passwordToggle [appTargetInput]="toggleInput">
        <ion-icon  name="eye-off-outline"></ion-icon>
      </button>
      <div class="error-messages">
        <ng-container *ngFor="let error of errorMessages.password">
          <div class="error-message"
            *ngIf="resetForm.get('password').hasError(error.type) && (resetForm.get('password').dirty || resetForm.get('password').touched)">
            {{error.message}}
          </div>
        </ng-container>
      </div>
    </div>
    <div style="margin-left: 22% !important;">
      <ion-label class="label">Confirm password</ion-label>
    </div>
    <div>
      <ion-input (ionChange)="changeConfirmPassword()" formControlName="confirmPassword"  #toggleInput1 type="password" class="form-control password" placeholder="Enter confirm password"></ion-input>
      <button class="showhidePass" type="button" clear item-end passwordToggleCp [appTargetInput1]="toggleInput1">
        <ion-icon  name="eye-off-outline"></ion-icon>
      </button>
      <div class="error-messages">
        <ng-container *ngFor="let error of errorMessages.confirmPassword">
          <div class="error-message"
            *ngIf="resetForm.get('confirmPassword').hasError(error.type) && (resetForm.get('confirmPassword').dirty || resetForm.get('confirmPassword').touched)">
            {{error.message}}
          </div>
        </ng-container>
        {{errorList}}
        <div *ngIf="errorList" class="invalid-feedback">
          <div>Passwords must match</div>
        </div>
      </div>
    </div>
  </ion-list>
  <div class="ion-padding">
    <ion-button (click)="changePassword()" expand="block" shape="round" expand="full" class="sendButton" [disabled]="resetForm.invalid">Save</ion-button>
  </div>
</form>


</ion-content>
