<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-icon (click)="dismiss()" style="font-weight: bolder; font-size: 28px; margin-left: 4%;" name="close-outline"></ion-icon>
   </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none" class="infoHeader">
    <ion-label class="header" color="dark">Doresti sa updatezi username-ul?</ion-label>
  </ion-item>
  <div style="font-size: 13px; color:gray; text-align: center;">
    Il vom folosi  pentru a te putea conecta
     <br/>
  </div>
  <form [formGroup]="fullNameForm">
    <ion-list lines="full" class="paddingList">
      <div>
        <ion-item>
          <ion-label position="stacked">Introdu username-ul nou</ion-label>
          <ion-input  formControlName="username" placeholder="Introdu username-ul nou" type="text"></ion-input>
        </ion-item>
        <div class="error-messages">
          <ng-container *ngFor="let error of errorMessages.username">
            <div class="error-message"
              *ngIf="fullNameForm.get('username').hasError(error.type) && (fullNameForm.get('username').dirty || fullNameForm.get('username').touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>
      </div>
      <ion-item>
        <ion-label>Data nasterii</ion-label>
        <ion-datetime formControlName="dateOfBirth" placeholder="Selecteaza data" min="1960" max="{{maxYear}}"></ion-datetime>
      </ion-item>
    </ion-list>
  </form>
  
</ion-content>

<ion-footer class="ion-no-border">
  <div class="ion-padding">
    <ion-button  (click)="mofifyFullName()" expand="block" shape="round" expand="full" class="sendButton" [disabled]="fullNameForm.invalid">Gata</ion-button>
  </div>
</ion-footer>
