<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  color="primary"  defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <img src="assets/imgs/icn-more.svg" alt="">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="section">
    <div class="section-title">
      <h4>Today</h4>
    </div>
    <div class="the-list">
      <div *ngFor="let transaction of transactions">
        <ion-item *ngIf="(transaction.date | date:'dd') == (myDate | date:'dd')">  
          <ion-avatar slot="start" *ngIf="!transaction.isSend">
            <img  src="https://ucarecdn.com/{{transaction.imageUrl}}/"/>
          </ion-avatar>
          <ion-avatar slot="start" *ngIf="transaction.isSend">
            <img  src="https://ucarecdn.com/{{user.profilePictureName}}/"/>
          </ion-avatar>
          <div *ngIf="transaction.userId1 == userId && transaction.isSend">
            <ion-label>
              <div>
                <h5 text-wrap>You received a payment of <span class="amount"> {{transaction.unit}} {{transaction.value.toFixed(2)}}</span> from  <span class="person">
                  {{transaction.userName}}.
                </span> </h5>
                    <p>{{transaction.date | date:'shortTime' }}</p>
              </div>
            </ion-label>

          </div>
        

          <ion-label *ngIf="transaction.userId1 == userId && !transaction.isSend">
            <h5 text-wrap> <span class="person">{{transaction.userName}}
              </span> requested a payment of<span class="amount"> {{transaction.unit}} {{transaction.value.toFixed(2)}}</span>
              from you.</h5>
              <p>{{transaction.date | date:'shortTime' }}</p>
          </ion-label>

          <div class="end-slot" slot="end" *ngIf="transaction.userId1 == userId && !transaction.isSend">
            <ion-button  (click)="acceptTransaction(transaction)" *ngIf="!transaction.accepted" style="width: 85px !important;">
              Pay
            </ion-button>
            <img  *ngIf="transaction.accepted"src="assets/imgs/credit card-20s-40px (1).svg">
          </div>

          <div class="end-slot" slot="end" *ngIf="transaction.userId1 == userId && transaction.isSend">
            <ion-button *ngIf="!transaction.accepted" color="success" (click)="acceptTransaction(transaction)">
              Accept
            </ion-button>
            <img  *ngIf="transaction.accepted"src="assets/imgs/credit card-20s-40px.svg">
          </div>
        </ion-item>

      </div>
    </div>
  </div>
  <div class="section">
    <div class="section-title">
      <h4>Yesterday</h4>
    </div>
    <div class="the-list">
      <div *ngFor="let transaction of transactions">
        <ion-item *ngIf="(transaction.date | date:'dd') == (myDate | date:'dd') - 1">  
          <ion-avatar slot="start" *ngIf="!transaction.isSend">
            <img  src="https://ucarecdn.com/{{transaction.imageUrl}}/"/>
          </ion-avatar>
          <ion-avatar slot="start" *ngIf="transaction.isSend">
            <img  src="https://ucarecdn.com/{{user.profilePictureName}}/"/>
          </ion-avatar>
          <ion-label *ngIf="transaction.userId1 == userId && transaction.isSend">
            <h5 text-wrap>You received a payment of <span class="amount">{{transaction.unit}} {{transaction.value.toFixed(2)}}</span> from <span class="person">
              {{transaction.userName}}
            </span> </h5>
                <p>{{transaction.date | date:'shortTime' }}</p>
          </ion-label>

          <ion-label *ngIf="transaction.userId1 == userId && !transaction.isSend">
            <h5 text-wrap> <span class="person">{{transaction.userName}}
              </span> requested a payment of<span class="amount">{{transaction.unit}} {{transaction.value.toFixed(2)}}</span>
              from </h5>
              <p>{{transaction.date | date:'shortTime' }}</p>
            </ion-label>

            <div class="end-slot" slot="end" *ngIf="transaction.userId1 == userId && !transaction.isSend">
              <ion-button  (click)="acceptTransaction(transaction)" *ngIf="!transaction.accepted" style="width: 85px !important;">
                Pay
              </ion-button>
              <img  *ngIf="transaction.accepted"src="assets/imgs/credit card-20s-40px (1).svg">
            </div>
  
            <div class="end-slot" slot="end" *ngIf="transaction.userId1 == userId && transaction.isSend">
              <ion-button *ngIf="!transaction.accepted" color="success" (click)="acceptTransaction(transaction)">
                Accept
              </ion-button>
              <img  *ngIf="transaction.accepted"src="assets/imgs/credit card-20s-40px.svg">
            </div>
        </ion-item>

      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-title">
      <h4>This week</h4>
    </div>
    <div class="the-list">
      <div *ngFor="let transaction of transactions">
        <ion-item *ngIf="(transaction.date | date:'ww') == (myDate | date:'ww') - 1">
          <ion-avatar slot="start" *ngIf="!transaction.isSend">
            <img  src="https://ucarecdn.com/{{transaction.imageUrl}}/"/>
          </ion-avatar>
          <ion-avatar slot="start" *ngIf="transaction.isSend">
            <img  src="https://ucarecdn.com/{{user.profilePictureName}}/"/>
          </ion-avatar>
          <ion-label *ngIf="transaction.userId1 == userId && transaction.isSend">
            <h5 text-wrap>You received a payment of <span class="amount">{{transaction.unit}} {{transaction.value.toFixed(2)}}</span> from <span class="person">
              {{transaction.userName}}
            </span> </h5>
                <p>{{transaction.date | date:'shortTime' }}</p>
          </ion-label>

          <ion-label *ngIf="transaction.userId1 == userId && !transaction.isSend">
            <h5 text-wrap> <span class="person">{{transaction.userName}}
              </span> requested a payment of<span class="amount">{{transaction.unit}} {{transaction.value.toFixed(2)}}</span>
              from </h5>
              <p>{{transaction.date | date:'shortTime' }}</p>
            </ion-label>
         
            <div class="end-slot" slot="end" *ngIf="transaction.userId1 == userId && !transaction.isSend">
              <ion-button  (click)="acceptTransaction(transaction)" *ngIf="!transaction.accepted" style="width: 85px !important;">
                Pay
              </ion-button>
              <img  *ngIf="transaction.accepted"src="assets/imgs/credit card-20s-40px (1).svg">
            </div>
  
            <div class="end-slot" slot="end" *ngIf="transaction.userId1 == userId && transaction.isSend">
              <ion-button *ngIf="!transaction.accepted" color="success" (click)="acceptTransaction(transaction)">
                Accept
              </ion-button>
              <img  *ngIf="transaction.accepted"src="assets/imgs/credit card-20s-40px.svg">
            </div>
        </ion-item>
       </div>
    </div>
  </div>
</ion-content>