<ion-header no-border> 
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="outline" color="primary" (click)="goToLoginPage()">SKIP</ion-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
  <div class="phone-holder animated fadeInUp delay-2s">
    <img src="assets/imgs/phone.svg" alt="phoneImage">
  </div>
  <div class="intro-content">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <div class="slide-content" text-center>
          <h4 text-wrap>Welcome, Manage your expenses</h4>
          <p text-wrap>easily manage your expenses by your mobile</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide-content" text-center>
          <h4 text-wrap>Welcome, Manage your expenses</h4>
          <p text-wrap>easily manage your expenses by your mobile</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide-content" text-center>
          <h4 text-wrap>Welcome, Manage your expenses</h4>
          <p text-wrap>easily manage your expenses by your mobile</p>
        </div>
      </ion-slide>
    </ion-slides>
    <div class="btn-user">
      <ion-button id="login" (click)="goToLoginPage()">Login</ion-button>
      <ion-button id="signUp" fill="none" (click)="goToSignUpPage()">Sign up</ion-button>
    </div>
  </div>
 
</ion-content>