<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="sigup-image"src="assets/imgs/BaaS.jpg"/>
  <div class="the-content">
    <div class="the-title">
      <h2>Welcome to Singup</h2>
    </div>
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
      <div class="details">

        <div class="detail-item">
          <ion-label>Username</ion-label>
          <ion-item>
            <span class="icn" slot="start" *ngIf="!signupForm.get('username').invalid">
              <ion-icon name="checkmark-circle"></ion-icon>
            </span>
            <ion-input formControlName="username" class="username" placeholder="Enter Name"></ion-input>
          </ion-item>

          <div class="error-messages">
            <ng-container *ngFor="let error of errorMessages.username">
              <div class="error-message"
                *ngIf="signupForm.get('username').hasError(error.type) && (signupForm.get('username').dirty || signupForm.get('username').touched)">
                {{error.message}}
              </div>
            </ng-container>
          </div>
        </div>

        <div class="detail-item">
          <ion-label>Email</ion-label>
          <ion-item>
            <span class="icn" slot="start" *ngIf="!signupForm.get('email').invalid">
              <ion-icon name="checkmark-circle"></ion-icon>
            </span>
            <ion-input formControlName="email" class="email" placeholder="Enter Email"></ion-input>
          </ion-item>

          <div class="error-messages">
            <ng-container *ngFor="let error of errorMessages.email">
              <div class="error-message"
                *ngIf="signupForm.get('email').hasError(error.type) && (signupForm.get('email').dirty || signupForm.get('email').touched)">
                {{error.message}}
              </div>
            </ng-container>
          </div>
        </div>

        <div class="detail-item">
          <ion-label>Password</ion-label>
          <ion-item>
              <span class="icn" slot="start" *ngIf="!signupForm.get('password').invalid">
                <ion-icon name="checkmark-circle"></ion-icon>
              </span>
              <ion-label> <ion-icon name="md-lock"></ion-icon></ion-label>
              <ion-input #toggleInput formControlName="password" class="half-inp half-border-inp" type="password" placeholder="Password"></ion-input>
              <button class="showhidePass" color="light" type="button" clear item-end passwordToggle [appTargetInput]="toggleInput">
                <ion-icon name="eye-off-outline"></ion-icon>
              </button>
          </ion-item>

          <div class="error-messages">
            <ng-container *ngFor="let error of errorMessages.password">
              <div class="error-message"
                *ngIf="signupForm.get('password').hasError(error.type) && (signupForm.get('password').dirty || signupForm.get('password').touched)">
                {{error.message}}
              </div>
            </ng-container>
          </div>
        </div>

        
        <div class="second-item">
          <ion-item lines="none" id="rem" class="ion-no-padding">
            <ion-label text-wrap>By creating an account, you agree to our
              Term and Conditions</ion-label>
            <ion-checkbox mode="ios" slot="start"></ion-checkbox>
          </ion-item>
        </div>
      </div>


      <div class="loginbtn-holder" text-center>
        <ion-button size="block" type="submit" routerDirection="root" [disabled]="signupForm.invalid">
          Signup
        </ion-button>
      </div>
    </form>

  </div>
</ion-content>
