ion-searchbar {
    --background: transparent;
    --clear-button-color: var(--ion-color-primary); 
}


ion-input {
    --placeholder-color: black;
    text-align: left;
    margin-left: 10%;
    --placeholder-font-weight: 400;
    width: 80%;
}

ion-back-button {
    position: absolute;
    margin-top: 5%;
    //margin-left: -3.5vw;
}
ion-card {
    height: 74px !important;
}

.group {
    position: absolute;
    top: 22%;
    left: 90%;
    width: 40px;
    height: 20px;
}
div.navbarBackground {
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
}

ion-item{
    margin-left: -6vw;
   .start-slot
   {
    margin-right: 0 !important;
   }

   ion-label{
       margin-bottom: 10px !important;
       font-size: .9rem !important;
   }

   .end-slot
   {
       margin: 0 !important;
       ion-badge{
           //font-weight: lighter !important;
       }
   }
}

.searchbar-input-container ion-icon {
    margin-left: 100px !important;
}

ion-button, .badge {
  background-color: #4c8dff;
  color: white;
}
ion-icon {
    position: relative;
    bottom: 13px !important;
}


.colLeft {
    font-size: 16px;
    font-weight: bolder;
    position: relative;
    top: 12px;

}


.paddingLeft {
    position: relative;
    left: 5%;
}

ion-avatar {
    height: 50px;
    width: 50px;
}

.labelS {
    color: gray;
}


.selected-contacts
{
  background-color: white;
  height: 130px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
//   border: 1px solid #DFE7F5;
  &::-webkit-scrollbar {
    display: none;
 }
    .people
    {
        // width: 28.7vw;
        // height: 20vh;
        // background: white;
        // border: 1px solid #DFE7F5;
        // border-radius: 12px;
        display: inline-block;
        margin-right: 4%;
        padding-top: 10px;
        .closeIcon {
            width: 18px;
            height: 18px;
            background-color: white;
            border-radius: 8px 8px 8px 8px;
            position: relative;
            left: 63%;
            top: -59px;
            ion-icon {
                top: -5% !important;
                color: rgb(117, 112, 111);
            }
        }
     
        ion-avatar{
            height: 55px !important;
            width: 55px !important;
            margin-left: auto;
            margin-right: auto;
        }
        p{
            //margin: 0 !important;
            text-align: center;
            margin-top: -10px;
        }
    }

}

.nameText {
    position: relative;
    top: 10px;
    text-align: center;
}