<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-icon (click)="dismiss()" style="font-weight: bolder; font-size: 28px; margin-left: 4%;" name="close-outline"></ion-icon>
   </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item lines="none" class="infoHeader">
    <ion-label class="header" color="dark" *ngIf="language == 'romana'">Care este limita dorita pentru categorie?</ion-label>
    <ion-label class="header" color="dark" *ngIf="language == 'engleza'">What is the desired limit for the category?</ion-label>
  </ion-item>
  <div style="font-size: 13px; color:gray; text-align: center;" *ngIf="language == 'romana'">
    O vom folosi pentru a limita tranzactiile 
    <br/>
 </div>
 <div style="font-size: 13px; color:gray; text-align: center;" *ngIf="language == 'engleza'">
    We will use it to limit transactions
  <br/>
</div>
 <div style="font-size: 13px; color:gray; text-align: center;" *ngIf="language == 'romana'">
    lunare efectuate
   <br/>
</div>
<div style="font-size: 13px; color:gray; text-align: center;" *ngIf="language == 'engleza'">
  performed monthly
 <br/>
</div>
  <form [formGroup]="limitationForm">
    <ion-list lines="full" class="paddingList">
      <div>
        <ion-item>
          <ion-label position="stacked" *ngIf="language == 'romana'">Introdu suma</ion-label>
          <ion-label position="stacked" *ngIf="language == 'engleza'">Enter the amount</ion-label>
          <ion-input [placeholder]="language == 'romana' ? 'Introdu suma' : 'Enter the amount'" type="number" formControlName="limit"></ion-input>
        </ion-item>
        <div class="error-messages">
          <ng-container *ngFor="let error of errorMessages.limit">
            <div class="error-message"
              *ngIf="limitationForm.get('limit').hasError(error.type) && (limitationForm.get('limit').dirty || limitationForm.get('limit').touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>
        <ion-item lines="none">
          <ion-label  position="stacked" *ngIf="language == 'romana'">Selectează moneda</ion-label>
          <ion-label  position="stacked" *ngIf="language == 'engleza'">Select the currency</ion-label>
        </ion-item>
        <ion-select formControlName="moneda" class="selectForm" multiple="false" [placeholder]="language == 'romana' ? 'Select Unit' : 'Selectează moneda'">
          <ion-select-option *ngFor="let u of units " value="{{u.val}}">{{u.name}}</ion-select-option>
        </ion-select>
       
      </div>
    </ion-list>
  </form>
 
 
 
</ion-content>
<ion-footer class="ion-no-border">
  <div class="ion-padding">
    <ion-button  [disabled]="limitationForm.invalid" (click)="updateLimit()" expand="block" shape="round" expand="full" class="sendButton">{{language == 'romana' ? 'Adaugă limitare' : 'Add limitation'}}</ion-button>
  </div>
</ion-footer>
