<ion-header no-border>
  <ion-toolbar>
    <ion-title>Expenses</ion-title>
    <ion-buttons slot="end" (click)="logout()">
      <ion-button>
       <img src="assets/imgs/Export.svg" alt="">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="chartContainer"></div>
    <ion-item lines="none" style="position: relative; top: 300px; text-align: center;" >
       <ion-label>Cheltuielile tale in luna</ion-label>
       <ion-select value="months[month]" (ionChange)="change($event)"> 
        <ion-select-option value="months[month]" selected>{{months[month]}}</ion-select-option>
        <ion-select-option value="months[month - 1]">{{months[month - 1]}}</ion-select-option>
        <ion-select-option value="months[month - 2]">{{months[month - 2]}}</ion-select-option>
       </ion-select>
    </ion-item>
    <ion-list style="position: relative; top: 300px;">
        <ion-item *ngFor="let item of dataShow">
          <div class="thumb" slot="start">
            <img  *ngIf="item.url" src="assets/imgs/{{item.url}}" alt="">
            <img  *ngIf="!item.url" src="assets/imgs/pay-20s-40px.svg" alt="">
          </div>
          <ion-label>
            <h4>{{item.name}}</h4>
            <p>{{item.size}} tranzactii</p>
          </ion-label>
          <div slot="end">
            <ion-label>
              <h4>{{item.sum}} {{item.conversion}}</h4>
            </ion-label>
          </div>
        </ion-item>
    </ion-list>
</ion-content>
