<ion-header no-border>
  <div class="navbarBackground">
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
  </div>
</ion-header>


<ion-content>
  <div class="backgroundCls">
    <div>
      <div class="thumb" slot="start">
        <img src="assets/imgs/key-outline.svg" alt="">
      </div>
      <ion-card [ngStyle]="{'height': heightContainer + verifyError('password') * 23 + verifyError('confirmPassword') * 23 + 'px'}">
        <ion-card-header>
          <ion-card-title>Reset Password</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form [formGroup]="resetForm">
            <div class="form-group password">
              <ion-label class="labelPassword">New Password</ion-label>
              <ion-input #toggleInput formControlName="password"  type="password" class="form-control password" placeholder="Enter new password"></ion-input>
              <button class="showhidePass" type="button" clear item-end passwordToggle [appTargetInput]="toggleInput">
                <ion-icon  name="eye-off-outline"></ion-icon>
              </button>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.password">
                  <div class="error-message"
                    *ngIf="resetForm.get('password').hasError(error.type) && (resetForm.get('password').dirty || resetForm.get('password').touched)">
                    {{error.message}}
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="form-group password" style="margin-top: 20px;">
              <ion-label class="labelPassword">Confirm New Password</ion-label>
              <ion-input #toggleInput1 formControlName="confirmPassword"  type="password" class="form-control password" placeholder="Enter confirm password"></ion-input>
              <button class="showhidePass" type="button" clear item-end passwordToggleCp [appTargetInput1]="toggleInput1">
                <ion-icon  name="eye-off-outline"></ion-icon>
              </button>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.confirmPassword">
                  <div class="error-message"
                    *ngIf="resetForm.get('confirmPassword').hasError(error.type) && (resetForm.get('confirmPassword').dirty || resetForm.get('confirmPassword').touched)">
                    {{error.message}}
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="btn-reset">
              <ion-button  fill="none" id="cancel" (click)="goToLoginPage()">Cancel</ion-button>
              <ion-button id="continue"  (click)="changePassword()">Continue</ion-button>
            </div>
          </form>
        </ion-card-content>
      </ion-card>
    </div>
    
  </div>
</ion-content>
