<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button (click)="menuButton()"></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="language == 'engleza'">Your Budgets</ion-title>
    <ion-title *ngIf="language == 'romana'">Bugetul tau</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="viewNotifications()">
        <ion-icon name="notifications"></ion-icon>
        <div class="divAlert">
          <p>{{num}}</p>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="the-upper-back">
    </div>
    <div class="the-top-card" text-center padding-vertical>
      <ion-row class="top-row">
        <ion-col size="auto" text-left  *ngIf="language == 'engleza'">
          for Platinum Card
        </ion-col>
        <ion-col size="auto" text-left  *ngIf="language == 'romana'">
          pentru Platinum Card
        </ion-col>
        <ion-col size="auto" class="text-right" *ngIf="language == 'engleza'">
          Add Budget
        </ion-col>
        <ion-col size="auto" class="text-right1" *ngIf="language == 'romana'">
          Adaugă buget
        </ion-col>
      </ion-row>
      <ngx-gauge [type]="gaugeType" size="250" [value]="gaugeValue" [label]="gaugeLabel" 
        [prepend]="gaugePrependText" thick="12" cap="round" foregroundColor="rgb(0, 71, 204)">
       
      </ngx-gauge>
      <div class="inside-guage" text-center *ngIf="language == 'engleza'">
        <img src="assets/imgs/card.svg" alt="">
        <p>You are spent</p>
      </div>
      <div class="inside-guage1" text-center *ngIf="language == 'romana'">
        <img src="assets/imgs/card.svg" alt="">
        <p>Ai cheltuit</p>
      </div>
      <div class="precentage-row">
        <ion-row>
          <ion-col class="column-left">
            <p>0%</p>
          </ion-col>
          <ion-col class="column-right">
            <p>100%</p>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div class="bottom-section" padding>
      <ion-row class="btns-holder">
        <ion-col>
          <ion-button expand="block"  (click)="goToChat()">
            <img src="assets/imgs/discussion-20s-36px.svg" alt="">
           Chat
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="goToReview()">
            <img src="assets/imgs/star-20s-40px.svg" alt="">
           Feedback
          </ion-button>
        </ion-col>
      </ion-row>

      <div class="details">
        <h3 *ngIf="language == 'engleza'">Transaction</h3>
        <h3 *ngIf="language == 'romana'">Trazacții</h3>
        <div class="segment">
            <ion-segment (ionChange)="segmentChanged($event)" value="category">
              <ion-segment-button value="day">
                <ion-label *ngIf="language == 'engleza'">Day</ion-label>
                <ion-label *ngIf="language == 'romana'">Zi</ion-label>
              </ion-segment-button>
              <ion-segment-button value="week">
                <ion-label *ngIf="language == 'engleza'">Week</ion-label>
                <ion-label *ngIf="language == 'romana'">Săptămână</ion-label>
              </ion-segment-button>
              <ion-segment-button value="month">
                <ion-label *ngIf="language == 'engleza'">Month</ion-label>
                <ion-label *ngIf="language == 'romana'">Lună</ion-label>
              </ion-segment-button>
              <ion-segment-button value="year">
                <ion-label  *ngIf="language == 'engleza'">Year</ion-label>
                <ion-label  *ngIf="language == 'romana'">An</ion-label>
              </ion-segment-button>
            </ion-segment>
         </div>
         <div class="the-list" *ngIf="category == 'day'">
           <ion-item *ngFor="let transaction of transactionPerDay">
             <ion-col size="2">
              <div *ngFor="let user of transaction.user">
                <div class="thumb" slot="start" *ngIf="user.id != userId">
                  <ion-avatar>
                    <img  src="https://ucarecdn.com/{{user.profilePictureName}}/"/>
                  </ion-avatar>
                </div>
               </div>
             </ion-col>
            
           <ion-col>
            <ion-label>
              <div *ngFor="let user of transaction.user">
                  <h4 *ngIf="user.id != userId">{{user.name}}</h4>
              </div>
              <span *ngIf="!transaction.transactions.rejected">
                <div [ngClass]="transaction.transactions.accepted ? 'divAccepted' : 'divWaiting' " *ngIf="language == 'romana'"> 
                  <img  *ngIf="!transaction.transactions.accepted"  src="assets/imgs/wait-20s-32px.svg"/>
                  <img *ngIf="transaction.transactions.accepted" src="assets/imgs/check-20s-23px.svg"/>
                    {{transaction.transactions.accepted ? 'Acceptată' : 'În așteptare'}}         
                </div> 
                <div [ngClass]="transaction.transactions.accepted ? 'divAccepted' : 'divWaiting' " *ngIf="language == 'engleza'"> 
                  <img  *ngIf="!transaction.transactions.accepted"  src="assets/imgs/wait-20s-32px.svg"/>
                  <img *ngIf="transaction.transactions.accepted" src="assets/imgs/check-20s-23px.svg"/>
                    {{transaction.transactions.accepted ? 'Accepted' : 'Waiting'}}                 
                </div> 
              </span>
              <span *ngIf="transaction.transactions.rejected">
                <div [ngClass]="transaction.transactions.accepted ? 'divAccepted' : 'divWaiting' " *ngIf="language == 'romana'"> 
                  <img src="assets/imgs/close-1.1s-36px.svg"/>
                    {{transaction.transactions.rejected ? 'Respinsă' : 'Respinsă'}}         
                </div> 
                <div [ngClass]="transaction.transactions.accepted ? 'divAccepted' : 'divWaiting' " *ngIf="language == 'engleza'"> 
                  <img src="assets/imgs/close-1.1s-36px.svg"/>
                    {{transaction.transactions.rejected ? 'Canceled' : 'Canceled'}}                 
                </div> 
              </span>
             
            </ion-label>
           </ion-col>
            <ion-col style="text-align: right;">
              <ion-label>
                <h5>{{verifyType(transaction.transactions) ? '+' : '-'}} {{transaction.transactions.unit}} {{transaction.transactions.value.toFixed(2)}}</h5>
                <p style="font-size: 13px;">{{transaction.transactions.date | date:'dd MMM yyyy' }}</p>
              </ion-label>
            </ion-col>
          
          </ion-item>
         </div>
         <div class="the-list" *ngIf="category == 'week'">
           <div  *ngFor="let transaction of transactionPerWeek">
             <!-- {{(transaction.transactions.date | date:'ww')}}
             {{ (myDate | date:'ww')}} -->
              <ion-item  *ngIf="checkIsWeek(transaction.transactions.date)">
                <ion-col size="2.5">
                <div *ngFor="let user of transaction.user">
                  <div class="thumb" slot="start" *ngIf="user.id != userId">
                    <ion-avatar>
                      <img  src="https://ucarecdn.com/{{user.profilePictureName}}/"/>
                    </ion-avatar>
                  </div>
                  </div>
                </ion-col>
              
              <ion-col>
              <ion-label>
                <div *ngFor="let user of transaction.user">
                    <h4 *ngIf="user.id != userId">{{user.name}}</h4>
                </div>
                <span *ngIf="!transaction.transactions.rejected">
                  <div [ngClass]="transaction.transactions.accepted ? 'divAccepted' : 'divWaiting' " *ngIf="language == 'romana'"> 
                    <img  *ngIf="!transaction.transactions.accepted"  src="assets/imgs/wait-20s-32px.svg"/>
                    <img *ngIf="transaction.transactions.accepted" src="assets/imgs/check-20s-23px.svg"/>
                      {{transaction.transactions.accepted ? 'Acceptată' : 'În așteptare'}}         
                  </div> 
                  <div [ngClass]="transaction.transactions.accepted ? 'divAccepted' : 'divWaiting' " *ngIf="language == 'engleza'"> 
                    <img  *ngIf="!transaction.transactions.accepted"  src="assets/imgs/wait-20s-32px.svg"/>
                    <img *ngIf="transaction.transactions.accepted" src="assets/imgs/check-20s-23px.svg"/>
                      {{transaction.transactions.accepted ? 'Accepted' : 'Waiting'}}                 
                  </div> 
                </span>
                <span *ngIf="transaction.transactions.rejected">
                  <div [ngClass]="transaction.transactions.accepted ? 'divAccepted' : 'divWaiting' " *ngIf="language == 'romana'"> 
                    <img src="assets/imgs/close-1.1s-36px.svg"/>
                      {{transaction.transactions.rejected ? 'Respinsă' : 'Respinsă'}}         
                  </div> 
                  <div [ngClass]="transaction.transactions.accepted ? 'divAccepted' : 'divWaiting' " *ngIf="language == 'engleza'"> 
                    <img src="assets/imgs/close-1.1s-36px.svg"/>
                      {{transaction.transactions.rejected ? 'Canceled' : 'Canceled'}}                 
                  </div> 
                </span>
              </ion-label>
              </ion-col>
              <ion-col style="text-align: right;">
                <ion-label>
                  <h5>{{verifyType(transaction.transactions) ? '+' : '-'}} {{transaction.transactions.unit}} {{transaction.transactions.value.toFixed(2)}}</h5>
                  <p style="font-size: 13px;">{{transaction.transactions.date | date:'dd MMM yyyy' }}</p>
                </ion-label>
              </ion-col>
            </ion-item>
           </div>      
        </div>

        <div class="the-list" *ngIf="category == 'month'">
            <ion-item *ngFor="let transaction of transactionPerMonth">
              <ion-col size="2.5">
               <div *ngFor="let user of transaction.user">
                 <div class="thumb" slot="start" *ngIf="user.id != userId">
                   <ion-avatar>
                     <img  src="https://ucarecdn.com/{{user.profilePictureName}}/"/>
                   </ion-avatar>
                 </div>
                </div>
              </ion-col>
             
              <ion-col>
                <ion-label>
                  <div *ngFor="let user of transaction.user">
                      <h4 *ngIf="user.id != userId">{{user.name}}</h4>
                  </div>
                  <span *ngIf="!transaction.transactions.rejected">
                    <div [ngClass]="transaction.transactions.accepted ? 'divAccepted' : 'divWaiting' " *ngIf="language == 'romana'"> 
                      <img  *ngIf="!transaction.transactions.accepted"  src="assets/imgs/wait-20s-32px.svg"/>
                      <img *ngIf="transaction.transactions.accepted" src="assets/imgs/check-20s-23px.svg"/>
                        {{transaction.transactions.accepted ? 'Acceptată' : 'În așteptare'}}         
                    </div> 
                    <div [ngClass]="transaction.transactions.accepted ? 'divAccepted' : 'divWaiting' " *ngIf="language == 'engleza'"> 
                      <img  *ngIf="!transaction.transactions.accepted"  src="assets/imgs/wait-20s-32px.svg"/>
                      <img *ngIf="transaction.transactions.accepted" src="assets/imgs/check-20s-23px.svg"/>
                        {{transaction.transactions.accepted ? 'Accepted' : 'Waiting'}}                 
                    </div> 
                  </span>
                  <span *ngIf="transaction.transactions.rejected">
                    <div [ngClass]="transaction.transactions.accepted ? 'divAccepted' : 'divWaiting' " *ngIf="language == 'romana'"> 
                      <img src="assets/imgs/close-1.1s-36px.svg"/>
                        {{transaction.transactions.rejected ? 'Respinsă' : 'Respinsă'}}         
                    </div> 
                    <div [ngClass]="transaction.transactions.accepted ? 'divAccepted' : 'divWaiting' " *ngIf="language == 'engleza'"> 
                      <img src="assets/imgs/close-1.1s-36px.svg"/>
                        {{transaction.transactions.rejected ? 'Canceled' : 'Canceled'}}                 
                    </div> 
                  </span>
                </ion-label>
              </ion-col>
              <ion-col style="text-align: right;">
                <ion-label>
                  <h5>{{verifyType(transaction.transactions) ? '+' : '-'}} {{transaction.transactions.unit}} {{transaction.transactions.value.toFixed(2)}}</h5>
                  <p style="font-size: 13px;">{{transaction.transactions.date | date:'dd MMM yyyy' }}</p>
                </ion-label>
              </ion-col>
            </ion-item>
        </div>
        <div class="the-list" *ngIf="category == 'year'">
          <ion-item *ngFor="let transaction of transactionPerYear">
            <ion-col size="2.5">
              <div *ngFor="let user of transaction.user">
                <div class="thumb" slot="start" *ngIf="user.id != userId">
                  <ion-avatar>
                    <img  src="https://ucarecdn.com/{{user.profilePictureName}}/"/>
                  </ion-avatar>
                </div>
               </div>
             </ion-col>
            
             <ion-col>
              <ion-label>
                <div *ngFor="let user of transaction.user">
                    <h4 *ngIf="user.id != userId">{{user.name}}</h4>
                </div>
                <span *ngIf="!transaction.transactions.rejected">
                  <div [ngClass]="transaction.transactions.accepted ? 'divAccepted' : 'divWaiting' " *ngIf="language == 'romana'"> 
                    <img  *ngIf="!transaction.transactions.accepted"  src="assets/imgs/wait-20s-32px.svg"/>
                    <img *ngIf="transaction.transactions.accepted" src="assets/imgs/check-20s-23px.svg"/>
                      {{transaction.transactions.accepted ? 'Acceptată' : 'În așteptare'}}         
                  </div> 
                  <div [ngClass]="transaction.transactions.accepted ? 'divAccepted' : 'divWaiting' " *ngIf="language == 'engleza'"> 
                    <img  *ngIf="!transaction.transactions.accepted"  src="assets/imgs/wait-20s-32px.svg"/>
                    <img *ngIf="transaction.transactions.accepted" src="assets/imgs/check-20s-23px.svg"/>
                      {{transaction.transactions.accepted ? 'Accepted' : 'Waiting'}}                 
                  </div> 
                </span>
                <span *ngIf="transaction.transactions.rejected">
                  <div [ngClass]="transaction.transactions.accepted ? 'divAccepted' : 'divWaiting' " *ngIf="language == 'romana'"> 
                    <img src="assets/imgs/close-1.1s-36px.svg"/>
                      {{transaction.transactions.rejected ? 'Respinsă' : 'Respinsă'}}         
                  </div> 
                  <div [ngClass]="transaction.transactions.accepted ? 'divAccepted' : 'divWaiting' " *ngIf="language == 'engleza'"> 
                    <img src="assets/imgs/close-1.1s-36px.svg"/>
                      {{transaction.transactions.rejected ? 'Canceled' : 'Canceled'}}                 
                  </div> 
                </span>
              </ion-label>
             </ion-col>
             <ion-col style="text-align: right;">
               <ion-label>
                 <h5>{{verifyType(transaction.transactions) ? '+' : '-'}} {{transaction.transactions.unit}} {{transaction.transactions.value.toFixed(2)}}</h5>
                 <p style="font-size: 13px;">{{transaction.transactions.date | date:'dd MMM yyyy' }}</p>
               </ion-label>
             </ion-col>
         </ion-item>
        </div>
       </div>
    </div>
</ion-content>
