<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="infoHeader">
    <ion-label class="header" color="dark" *ngIf="language == 'romana'">Dorești să adaugi limitări pe categorii?</ion-label>
    <ion-label class="header" color="dark" *ngIf="language == 'engleza'">Do you want to add category limitations
      ?</ion-label>
  </ion-item>
  <div style="font-size: 13px; color:gray; text-align: center;" *ngIf="language == 'romana'">
     Le vom folosi  cand efectuezi tranzacții
     <br>
  </div>
  <div style="font-size: 13px; color:gray; text-align: center;" *ngIf="language == 'engleza'">
    We will use them when you make transactions
    <br>
  </div>
  <ion-list>
    <ion-item *ngFor="let item of categories">
      <div class="thumb" slot="start">
        <img  src="assets/imgs/{{item.categoryUrl}}" alt="">
      </div>
      <ion-label>
        <h4>{{item.categoryName}}</h4>
      </ion-label>
      <div slot="end" style="position: relative; font-size: 14px;" *ngIf="language == 'romana'">
         <ion-button  size="small" color="primary" (click)="addLimit(item)">
           Setează
         </ion-button>
      </div>
      <div slot="end" style="position: relative; font-size: 14px;" *ngIf="language == 'engleza'">
        <ion-button  size="small" color="primary" (click)="addLimit(item)">
          Set
        </ion-button>
     </div>
    </ion-item>
  </ion-list>

</ion-content>
