<ion-header no-border>
  <div class="navbarBackground">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="request"></ion-back-button>
    </ion-buttons>
  </div>
</ion-header>

<ion-content>
    <div id="selectedPeople" class="selected-contacts" padding-horizontal scrollX="true">
        <div class="people" text-center *ngFor="let people of peopleSelected;">
            <ion-avatar class="avatarContact1" slot="start" *ngIf="people?.imageURL">
              <img  src="https://ucarecdn.com/{{(people?.imageURL)}}/"/>
            </ion-avatar> 
            <ion-avatar  class="avatarContact1"  slot="start" *ngIf="!people?.imageURL">
              <img src="assets/imgs/yogie.png" alt="">
            </ion-avatar>
            <div class="closeIcon" (click)="deleteSelectedContact(people)">
              <ion-icon  name="close-outline" ></ion-icon>
            </div>
            <p text-wrap class="phoneText">
              {{people?._objectInstance.displayName}}
              <br/>
              {{people?._objectInstance.phoneNumbers[0].value}}
            </p>
        </div>
    </div>
    
    <form [formGroup]="sendMoneyForm" (ngSubmit)="goReviewRequestPage()">
        <div class="details">
            <div class="money-content">
              <div class="labelForSum" [ngClass]="isEnterSumInput  ||  !sendMoneyForm.get('suma').invalid ? 'visible' : 'hidden'">
                <p *ngIf="language == 'romana'">Introdu aici suma pentru fiecare contact</p>
                <p *ngIf="language == 'engleza'">Enter the amount for each contact here</p>
              </div>
              <ion-item>
                <div class="sign-container">
                  <h1>{{sendMoneyForm.get('unit').value}}</h1>
                </div>
                <ion-input *ngIf="language == 'romana'" [placeholder]="!isEnterSumInput ? 'Introdu aici suma' : ''" (ionInput)="isEnterSumInput=true" (ionFocus)="isEnterSumInput=true;" (ionBlur)="isEnterSumInput=false;" type="tel" formControlName="suma" class="suma"  value="5" text-center></ion-input>
                <ion-input   *ngIf="language == 'engleza'" [placeholder]="!isEnterSumInput ? 'Enter the amount' : ''" (ionInput)="isEnterSumInput=true" (ionFocus)="isEnterSumInput=true;" (ionBlur)="isEnterSumInput=false;" type="tel" formControlName="suma" class="suma"  value="5" text-center></ion-input>
              </ion-item>
              <div class="error-messages">
                <p *ngIf="!sendMoneyForm.get('suma').invalid && language == 'romana'" style="color: gray;">Suma minimă este de 5 {{sendMoneyForm.get('unit').value}} iar maximă este de 5000 {{sendMoneyForm.get('unit').value}}</p>
                <p *ngIf="!sendMoneyForm.get('suma').invalid && language == 'engleza'" style="color: gray;">
                  The minimum amount is 5 {{sendMoneyForm.get('unit').value}} 
                  and the maximum is 5000 {{sendMoneyForm.get('unit').value}}</p>
                <ng-container *ngFor="let error of errorMessages.suma">
                  <div class="error-message"
                    *ngIf="sendMoneyForm.get('suma').hasError(error.type) && (sendMoneyForm.get('suma').dirty || sendMoneyForm.get('suma').touched)">
                    {{error.message}}
                  </div>
                </ng-container>
              </div>
      
              <div class="unit-container">
                <ion-item text-center lines="none">
                  <ion-select multiple="false" placeholder="Select Unit"  formControlName="unit">
                    <ion-select-option *ngFor="let u of units " value="{{u.val}}">{{u.name}}</ion-select-option>
                    <!-- <ion-select-option value="€">EURO</ion-select-option>
                    <ion-select-option value="r">RON</ion-select-option> -->
      
                  </ion-select>
                </ion-item>
              </div>  
            </div>
            <div class="detail-item-row">
              <div class="labelForSum" [ngClass]="isEnterDescriptionInput  ||  !sendMoneyForm.get('description').invalid ? 'visible' : 'hidden'">
                <p *ngIf="language == 'romana'">Introdu aici detaliile de plată</p>
                <p *ngIf="language == 'engleza'">Enter your payment details here</p>
              </div>
              <ion-card>
                <ion-card-content>
                  <ion-textarea *ngIf="language == 'romana'" [placeholder]="!isEnterDescriptionInput ? 'Introdu aici detaliile de plata' : ''" 
                      (ionInput)="isEnterDescriptionInput=true" (ionFocus)="isEnterDescriptionInput=true;" (ionBlur)="isEnterDescriptionInput=false;" formControlName="description" rows="2" cols="30" >
                  </ion-textarea>
                  <ion-textarea *ngIf="language == 'engleza'" [placeholder]="!isEnterDescriptionInput ? 'Enter your payment details here' : ''" 
                      (ionInput)="isEnterDescriptionInput=true" (ionFocus)="isEnterDescriptionInput=true;" (ionBlur)="isEnterDescriptionInput=false;" formControlName="description" rows="2" cols="30" >
                   </ion-textarea>
                </ion-card-content>
              </ion-card>
            </div>
            <div class="error-messages">
              <ng-container *ngFor="let error of errorMessages.description">
                <div class="error-message"
                  *ngIf="sendMoneyForm.get('description').hasError(error.type) && (sendMoneyForm.get('description').dirty || sendMoneyForm.get('description').touched)">
                  {{error.message}}
                </div>
              </ng-container>
            </div>
        </div>

    </form>
</ion-content>
<ion-footer no-border  *ngIf="!IsKeyboardOpen">
  <ion-row>
    <ion-col class="colLeft"  *ngIf="language == 'romana'">
      {{typeView == 'send' ? 'Suma totală' : 'Suma totală care se va solicita'}}
    </ion-col>
    <ion-col class="colLeft"  *ngIf="language == 'engleza'">
      {{typeView == 'send' ? 'Total amount' : 'The total amount that will be requested'}}
    </ion-col>
    <ion-col class="colRight">
      {{sendMoneyForm.get('suma').value ? sendMoneyForm.get('suma').value : '0.00'}} {{sendMoneyForm.get('unit').value}}
    </ion-col>
  </ion-row>
  <ion-toolbar >
    <ion-button expand="block"  class="footer"  color="primary" (click)="goReviewRequestPage()" routerDirection="root" [disabled]="sendMoneyForm.invalid">
      {{ language == 'romana' ? 'Continua' : 'Continue'}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
