<ion-header>
  <div class="navbarBackground">
      <ion-buttons slot="start">
        <ion-back-button color="light" defaultHref="tabs/tab1"></ion-back-button>
      </ion-buttons>
      <ion-input class="header" [(ngModel)]="inputValue" [placeholder]="language == 'engleza' ? 'Search in users list' : 'Caută în lista de utilizatori'" (keyup)="onKeyUp($event); isKeyPress=true"></ion-input>
      <ion-icon *ngIf="!isKeyPress" class="group" name="search-outline"></ion-icon>
      <div (click)="changeInputValue()" tappable>
        <ion-icon *ngIf="isKeyPress" class="group"  name="close-outline" ></ion-icon>
      </div>
  </div>
</ion-header>

<ion-content >
  <div *ngFor="let user of users" class="reviewContainer">
    <ion-row class="rowContainer" style="height: 50px;">
      <ion-col size="2">
        <ion-avatar>
          <img  src="https://ucarecdn.com/{{user.profilePictureName}}/"/>
        </ion-avatar>
      </ion-col>
      <ion-col class="name">
        {{user.name}}
      </ion-col>
    </ion-row>
    <ion-row class="rowContainer" >
      <ion-col  class="money" size="2">
        RON:
      </ion-col>
      <ion-col  size="4" *ngIf="user.areSumaR">
        {{user.sumaR}}
      </ion-col>
      <ion-col  size="4" *ngIf="user.areSumaR">
        <ion-item>
          <ion-input [(ngModel)]="user.sR" type="numeric" [placeholder]="language == 'engleză' ? 'Add Amount' : 'Adaugă bani'"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col  *ngIf="user.areSumaR" size="2" style="text-align: end;" (click)="addAmount(user, 'R')">
        <img src="assets/imgs/plus-20s-23px.svg">
      </ion-col>
      <ion-col  *ngIf="!user.areSumaR && language == 'engleza'" size="8" style="font-size: 14px;">
          User doesn't had RON card
      </ion-col>
      <ion-col  *ngIf="!user.areSumaR && language == 'romana'" size="8" style="font-size: 14px;">
        Utilizatorul nu are un card în ron
      </ion-col>
    </ion-row>
    <ion-row class="rowContainer" >
      <ion-col  class="money" size="2">
        EUR:
      </ion-col>
      <ion-col  size="4" *ngIf="user.areSumaE">
        {{user.sumaE}}
      </ion-col>
      <ion-col  size="4" *ngIf="user.areSumaE">
        <ion-item>
          <ion-input [(ngModel)]="user.sE" type="numeric" [placeholder]="language == 'engleză' ? 'Add Amount' : 'Adaugă bani'"></ion-input>
        </ion-item>     
      </ion-col>
      <ion-col    *ngIf="user.areSumaE" size="2" style="text-align: end;" (click)="addAmount(user, 'E')">
        <img src="assets/imgs/plus-20s-23px.svg">
      </ion-col>
      <ion-col  *ngIf="!user.areSumaE && language == 'engleza'" size="8" style="font-size: 14px;">
        User doesn't had EUR card
      </ion-col>
      <ion-col  *ngIf="!user.areSumaE && language == 'romana'" size="8" style="font-size: 14px;">
        Utilizatorul nu are un card în euro
      </ion-col>
    </ion-row>

    <ion-row class="rowContainer" >
      <ion-col class="money" size="2">
        USD:
      </ion-col>
      <ion-col  size="4" *ngIf="user.areSumaD">
        {{user.sumaD}}
      </ion-col>
      <ion-col  size="4" *ngIf="user.areSumaD">
        <ion-item>
          <ion-input [(ngModel)]="user.sD" type="numeric" [placeholder]="language == 'engleză' ? 'Add Amount' : 'Adaugă bani'"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col *ngIf="user.areSumaD" size="2" style="text-align: end;" (click)="addAmount(user, 'D')"> 
        <img src="assets/imgs/plus-20s-23px.svg">
      </ion-col>
      <ion-col  *ngIf="!user.areSumaD && language == 'engleza'" size="8" style="font-size: 14px;">
        User doesn't had USD card
      </ion-col>
      <ion-col  *ngIf="!user.areSumaE && language == 'romana'" size="8" style="font-size: 14px;">
        Utilizatorul nu are un card în dolari
      </ion-col>
    </ion-row>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
