<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="the-top-back"></div>

  <div class="the-top-card" text-center padding-vertical>
      <div class="img-container">
        <ion-avatar *ngIf="isFirstLoad" class="avatar">
          <img  src="https://ucarecdn.com/{{imageURL}}/"/>
        </ion-avatar>
        <ion-avatar *ngIf="!isFirstLoad" class="avatar">
          <img src="{{pictureUrl}}"/>
        </ion-avatar>

      </div>
      <div class="details" *ngIf="language == 'engleza'">
        <ion-button fill="clear" expand="full" color="primary" (click)="selectImage()">
          <ion-icon slot="start" name="camera"></ion-icon>
          {{pictureUrl ? 'Change Profile Image' : 'Add Profile Image'}}</ion-button>
        <!-- <h5>{{user.userName}}<span> <img src="assets/imgs/verified.svg" alt=""></span> </h5>
        <p>{{user.email}}</p> -->
      </div>
      <div class="details" *ngIf="language == 'romana'">
        <ion-button fill="clear" expand="full" color="primary" (click)="selectImage()">
          <ion-icon slot="start" name="camera"></ion-icon>
          {{pictureUrl ? 'Schimbă imaginea de profil' : 'Adaugă imagine de profil'}}</ion-button>
        <!-- <h5>{{user.userName}}<span> <img src="assets/imgs/verified.svg" alt=""></span> </h5>
        <p>{{user.email}}</p> -->
      </div>
      
  </div>

  <div class="bottom-section">
      <div class="general">
          <h3>GENERAL</h3>
          <div class="generic-list">
              <!-- <ion-item lines="none" (click)="goToModifyProfile()">
                <div class="thumb" slot="start">
                  <img src="assets/imgs/settings.svg" alt="">
                </div>
                <div>
                  <p class="header">Profile Settings</p>
                  <p class="body">Update and modify your profile</p>
                </div>
              </ion-item> -->
              <ion-item lines="none" (click)="goToModifyProfile()">
                <div class="thumb1" slot="start">
                  <img src="assets/imgs/profile-20s-128px (1).svg" alt="">
                </div>
                <div>
                  <p class="header"  *ngIf="language == 'engleza'">Personal Data</p>
                  <p class="body"  *ngIf="language == 'engleza'">Modify your personal data</p>
                  <p class="header"  *ngIf="language == 'romana'">Date personale</p>
                  <p class="body"  *ngIf="language == 'romana'">Modifică datele personale</p>
                </div>
              </ion-item>
              <ion-item lines="none" (click)="goToHistoryImages()">
                <div class="thumb1" slot="start">
                  <img src="assets/imgs/photo-20s-128px (2).svg" alt="">
                </div>
                <div>
                    <p class="header"  *ngIf="language == 'engleza'">Profile  Image History</p>
                    <p class="body"  *ngIf="language == 'engleza'">Update and modify profile image</p>
                    <p class="header"  *ngIf="language == 'romana'">Istoricul imaginilor de profil</p>
                    <p class="body"  *ngIf="language == 'romana'">Modifică imaginea de profil</p>
                 </div>
              </ion-item>
              <ion-item lines="none" (click)="goToChangePassword()">
                <div class="thumb" slot="start">
                  <img src="assets/imgs/security.svg" alt="">
                </div>
                <div>
                    <p class="header"  *ngIf="language == 'engleza'">Privacy</p>
                    <p class="body"  *ngIf="language == 'engleza'">Change your password</p>
                    <p class="header"  *ngIf="language == 'romana'">Privat</p>
                    <p class="body"  *ngIf="language == 'romana'">Schimbă parola</p>
                 </div>
              </ion-item>
              <ion-item lines="none" (click)="goToDefaultCard()">
                <div class="thumb1" slot="start">
                  <img src="assets/imgs/credit card-20s-36px.svg" alt="" >
                </div>
                <div>
                  <p class="header"  *ngIf="language == 'engleza'">Card</p>
                  <p class="body"  *ngIf="language == 'engleza'">Change your default card</p>
                  <p class="header"  *ngIf="language == 'romana'">Card</p>
                  <p class="body"  *ngIf="language == 'romana'">Schimbă cardul default</p>
                </div>
              </ion-item>     
          </div>
      </div>

      <div class="chart-section">
          <h3  *ngIf="language == 'engleza'">LANGUAGE</h3>
          <h3  *ngIf="language == 'romana'">LIMBĂ</h3>
          <div class="chart-list">
              <ion-item lines="none" (click)="goToChangeLanguage()">
                <div class="thumb1" slot="start">
                  <img src="assets/imgs/language-20s-32px.svg" alt="">
                </div>
                <div>
                  <p class="header"  *ngIf="language == 'engleza'">Show Available Language</p>
                  <p class="body"  *ngIf="language == 'engleza'">Edit language</p>
                  <p class="header"  *ngIf="language == 'romana'">Vezi limbile disponibile</p>
                  <p class="body"  *ngIf="language == 'romana'">Schimbă limba</p>
                </div>
              </ion-item>
          </div>
      </div>

      <div class="chart-section">
        <h3  *ngIf="language == 'engleza'">APPLICATION</h3>
        <h3  *ngIf="language == 'romana'">APLICAȚIE</h3>
        <div class="chart-list">
            <ion-item lines="none"  (click)="logOut()">
              <div class="thumb" slot="start">
                <ion-icon class="iconLogOut" name="log-out-outline"></ion-icon>
              </div>
              <div>
                <p class="header" *ngIf="language == 'engleza'">Log out</p>
                <p class="body" *ngIf="language == 'engleza'">Log out from banking application</p>
                <p class="header" *ngIf="language == 'romana'">Deloghează-te</p>
                <p class="body" *ngIf="language == 'romana'">Deloghează-te din aplicație</p>
              </div>
            </ion-item>
        </div>
     </div>
    </div>


</ion-content>
